* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

body {
  margin: 50px;
}
a {
  text-decoration-color: transparent;
  font-style: italic;
  color: lightgreen;
  transition: all 0.7s linear;
}
a:hover {
  text-decoration: underline;
  color: red;
}
p:not(#password) {
  margin: 15px 0;
}
#password {
  font-weight: bold;
  text-decoration:
}
